/*header section*/

header {
    background-color: #F2FDFF;
}

.header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
}

.header_section .nav_container {
    margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding: 10px 15px;
    color: #060606;
    text-align: center;
    text-transform: uppercase;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link,
.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link {
    color: #e7d619;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a:hover,
a:focus {
    color: initial;
}

.btn,
.btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.custom_nav-container {
    z-index: 99999;
    padding: 0;
    height: 80px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.custom_nav-container .navbar-toggler {
    outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-image: url(../images/menu.png);
    background-size: 50px;
    width: 30px;
    height: 30px;
}

.lg_toggl-btn {
    background-color: transparent;
    border: none;
    outline: none;
    width: 56px;
    height: 40px;
    cursor: pointer;
}

.lg_toggl-btn:focus {
    outline: none;
}

.User_option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: 120px;
}

.User_option .form-inline {
    position: relative;
    margin-right: 15px;
}

.User_option .form-inline input {
    display: none;
}

.custom_menu-btn {
    z-index: 9;
    position: absolute;
    right: 15px;
    top: 7px;
}

.custom_menu-btn button {
    margin-top: 14px;
    outline: none;
    border: none;
    background-color: transparent;
}

.custom_menu-btn button span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #10A6E9;
    margin: 7px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 5px;
}

.menu_btn-style {
    position: fixed;
    right: 29px;
    top: 7px;
}

.custom_menu-btn .s-2 {
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    width: 22px;
    margin-left: auto;
}

.menu_btn-style button .s-1 {
    -webkit-transform: rotate(45deg) translateY(16px);
    transform: rotate(45deg) translateY(16px);
}

.menu_btn-style button .s-2 {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
}

.menu_btn-style button .s-3 {
    -webkit-transform: rotate(-45deg) translateY(-16px);
    transform: rotate(-45deg) translateY(-16px);
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    background-color: #000000eb;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.overlay .closebtn {
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 60px;
}

.overlay a {
    padding: 0px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-size: 22px;
    color: #ffffff;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin-bottom: 25px;
    text-transform: uppercase;
    opacity: 0;
}

.overlay-content {
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.menu_width {
    width: 100%;
}

.menu_width.overlay a {
    opacity: 1;
}

.contact-btn {
    background-color: #10A6E9;
    color: #fff !important;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    display: inline-block;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 30px;
    border: 1px solid #fff;
    transition: 0.3s;
}

.contact-btn:hover {
    background-color: #fff;
    color: #10A6E9 !important;
}


/*end header section*/


/* banner start  */

.banner {
    /* background-color: #F2FDFF; */
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    background-image: url(../images/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
}

.banner-img {
    padding-bottom: 40px;
}

.banner h1 {
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    font-size: 70px;
    line-height: 75px;
    color: #05173D;
}

.banner-content h1 span {
    color: #10A6E9;
}

.banner p {
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #5B5755;
}

.banner-btn a {
    color: #10A6E9 !important;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px !important;
    padding: 16px 40px;
    border: 1px solid #10A6E9;
    background: #02ddff1a;
}

.banner-img img {
    animation: bamedaneghura 1.1s linear 0s infinite alternate !important;
}

.circle {
    z-index: -111;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background: rgba(76, 188, 169, 0.46);
    filter: blur(200px);
}

.primary-btn {
    background-color: #0098E3;
    border: 1px solid #0098E3;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 24px;
    border-radius: 5px;
    transition: 0.3s;
}

.primary-btn:hover {
    background-color: transparent;
    color: #0098E3;
}

.secondary-btn {
    background-color: transparent;
    border: 1px solid #0098E3;
    color: #0098E3;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 24px;
    border-radius: 5px;
    transition: 0.3s;
}

.secondary-btn:hover {
    background-color: #0098E3;
    color: #fff;
}


/* banner end  */


/* <!-- project start --> */

.project_sec {
    padding: 90px 0 0 0;
}

.project_content h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #0098E3;
}

.project_content h1 {
    margin-bottom: 20px;
    color: #10a6e9;
    font-size: 42px;
    font-weight: 700;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 44px;
}

.project_content span {
    color: #05173D;
}

.project_content p {
    font-weight: 400;
    font-size: 16px;
    color: #061A40;
}

.project_content ul li {
    margin: 10px 0;
    font-weight: 500;
}

.project_content ul li i {
    color: #0098E3;
}

.project_img img {
    animation: bamedaneghura 1.1s linear 0s infinite alternate;
}

@keyframes bamedaneghura {
    0% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/* <!-- project end --> */


/* work sec start */

.work-sec {
    background-image: url(../images/workbgimg.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 50px 0px 90px 0px;
}

.work-heading {}

.work-heading h1 {
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    color: #000;
}

.work-heading h1 span {
    color: #0098E3;
}

.work-heading p {
    margin-bottom: 50px;
    margin-top: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #5B5755;
}

.single-ongoing-update {
    margin: 25px 0;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 15px #efefef;
    border-radius: 15px;
    transition: 0.3s;
    border: 1px solid #fff;
    cursor: pointer;
}

.single-ongoing-update:hover {
    background-color: #D9F8FA;
    border: 1px solid #0098E3;
}

.single-ongoing-update h2 {
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #0098E3;
}

.single-ongoing-update p {
    font-family: "Poppins", sans-serif;
}

.single-ongoing-update a {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    display: inline-block;
    color: #000 !important;
    font-weight: 500;
}

.icon-cc {
    color: #10A6E9;
    font-size: 20px;
    margin-bottom: 30px;
}

.icon-cc-box {
    border: 2px solid #37B6EC;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50px;
    transition: .3s all;
}


/* work sec end */


/* offer sec start */

.offer-sec {
    background-color: #FAFAFA;
    padding: 70px 0 70px 0;
}

.offer-heading h1 {
    color: #05173D;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 500;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 65px;
    letter-spacing: -1px;
}

.offer-p {
    text-align: center;
    color: #5B5755;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
}

.offer-pp {
    text-align: center;
    color: #5B5755;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
}

.offer-d-flex {
    text-align: center;
}

.contact-sales-btn {
    background-color: #0098E3;
    border: 1px solid #0098E3;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 24px;
    border-radius: 5px;
    transition: 0.3s;
}

.contact-sales-btn:hover {
    background-color: transparent;
    color: #0098E3;
}

.offer-d-flex .contact-sales-btn {
    font-size: 20px;
}


/* offer sec end */


/* happy customer  start */

.happy-sec {
    padding: 70px 0;
}

.happy-sec .project_content h2 {
    color: #88AAB8;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    line-height: 24px;
    letter-spacing: 3px;
}

.happy-sec .project_content h1 {
    color: #05173D;
    font-family: "Poppins", sans-serif;
    font-size: 42px;
    font-weight: 500;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 1.2em;
    letter-spacing: -1px;
}


/* happy customer  end */


/* Testimonial start  */

.testimonial {
    padding: 100px 0;
}

.testimonial h1 {
    margin-bottom: 50px;
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 600;
}

.carousel-control-prev,
.carousel-control-next {
    display: flex;
    align-items: self-end;
    bottom: 5%;
}

.carousel-control-prev {
    left: 76%;
}

.carousel-control-prev-icon {
    border: 1px solid #000 !important;
    border-radius: 50px;
    background-image: none;
}

.carousel-control-next-icon {
    border: 1px solid #000 !important;
    border-radius: 50px;
    background-image: none;
}

.carousel-control-prev-icon:hover {
    background-color: #eff3f8;
}

.carousel-control-next-icon:hover {
    background-color: #eff3f8;
}

.carousel-control-next-icon i {
    color: #000;
    line-height: 32px;
}

.carousel-control-prev-icon i {
    color: #000;
    line-height: 32px;
}

.testi-info {
    float: left;
}

.testimonial p {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    color: #0D0C22;
    line-height: 36px;
}

.testimonial h2 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #242f51;
}

.testimonial h3 {
    color: #000000cc;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.counter {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 45px;
}

.counter-rate {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 49px;
}

.suffix-cc {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 50px;
}

.count-desc {
    color: #41404080 !important;
    font-size: 19px !important;
    font-weight: 500;
}


/* Testimonial end  */


/* answer sec start */

.answer-sec {
    background-color: #F9F9F9;
    padding: 80px 0 80px 0
}

.answer-sec .offer-heading h1 {
    text-align: left !important;
}

.answer-sec .offer-heading p {
    text-align: left !important;
    font-size: 18px;
}

.accordion-button {
    display: block;
    padding-left: 50px;
    font-weight: 700;
    font-size: 20px;
    color: #242424;
    font-family: "Poppins", sans-serif;
    border-radius: 30px !important;
}

.accordion-item {
    margin: 15px 0;
    border: 0;
    border-radius: 30px !important;
}

.accordion-body {
    font-family: "Poppins", sans-serif;
}

.accordion-button:not(.collapsed) {
    box-shadow: 0 0 0 0;
}

.accordion-button::after {
    background-image: url('../images/plus.png') !important;
    background-size: 13px !important;
    margin-left: 0;
    position: absolute;
    top: 22px;
    left: 20px;
}

.accordion-button:not(.collapsed)::after {
    background-image: url('../images/minus.png') !important;
    background-size: 13px !important;
    margin-left: 0;
    position: absolute;
    top: 10px;
    left: 15px;
}

button:focus:not(:focus-visible) {
    outline: none;
}

.accordion-button:focus {
    z-index: 0;
    outline: none;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: #0098E8;
}


/* answer sec end */


/* footer start  */

footer {
    padding: 60px 0 15px 0;
    background-color: #F2FDFF;
}

footer h2 {
    margin-bottom: 20px;
    color: #1C2421;
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 800;
}

.fo-left-content {
    margin-top: 28px;
    font-size: 16px;
    font-weight: 300;
    font-family: "Poppins", Sans-serif;
}

footer li {
    margin: 15px 0;
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.5em;
    letter-spacing: 0px;
    color: #1C2421;
    transition: .3s;
}

footer li:hover {
    color: #0099E6;
}

.fo-blue {
    color: #0099E6;
}

footer hr {
    padding: 0.1px 0;
    background-color: #fff;
}

footer .footer-text {
    text-align: center;
    margin-bottom: 0;
    color: #5B5755;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
}


/* footer end  */


/* ========== About part start */

.about-sec {
    background-color: #2BB0EA;
    min-height: 350px;
    position: relative;
}

.about-wrapper {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-wrapper h1 {
    color: #ffffff;
    font-weight: 500;
    font-size: 45px;
    text-transform: capitalize;
}

.img-left-wrapper {
    position: absolute;
    top: 25%;
    left: 20%;
}

.img-left-wrapper img {
    width: 180px !important;
}

.img-right-wrapper {
    position: absolute;
    top: 25%;
    right: 20%;
}

.img-right-wrapper img {
    width: 180px !important;
}


/* company part start */

.company-sec {
    padding: 80px 0;
}

.about-heading h1 {
    color: #10a6e9;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.company-text {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.company-content p {
    color: #343741;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-transform: none;
}

.banner-line {
    background-color: #0098E3;
    width: 100px;
    height: 3px;
    margin-bottom: 10px;
}


/* company part end */


/* ========= About part 
end */


/* =========contact us part start */


/* <!-- contact part start --> */

.contact-sec {
    padding: 80px 0;
}

.contact-heading h1 {
    font-family: "Poppins", Sans-serif;
    font-size: 42px;
    font-weight: 600;
    color: #0098E3;
}


/* <!-- contact part end--> */


/*  form start --> */

.form-sec {
    background-image: url(../images/contactbg.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 80px 0;
}

.contact-content h1 {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.contact-content p {
    color: #7A7F83;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.form-wrapper {
    margin-top: 4px;
    box-shadow: 1px 0px 6px 0px #c4c4c4;
    border-radius: 8px;
    padding: 40px 30px;
}

.form-wrapper h2 {
    position: relative;
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #212843;
    text-transform: capitalize;
}

.form-wrapper h2::after {
    position: absolute;
    content: '';
    background-color: #AB9665;
    width: 100%;
    height: 4px;
    left: 0;
    top: 50px;
}

.form-wrapper p {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #212843;
    margin: 5px 0;
}

.form-wrapper .form-control {
    background-color: #F2F2F2 !important;
    border: 1px solid transparent;
    height: 60px;
    border-radius: 0px;
    padding-bottom: 0;
    padding-left: 8px;
}

.form-wrapper .form-control:focus {
    border-color: #CE1616;
    box-shadow: 0 0 0 0;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
    box-shadow: 0 0 0 0;
}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
    box-shadow: 0 0 0 0;
}

.form-wrapper label {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #000;
    position: absolute;
    bottom: 0;
}

.form-group {
    position: relative;
    margin-bottom: 8px;
}

.form-control-placeholder {
    position: absolute;
    top: 10px;
    padding: 7px 0 0px 10px;
    transition: all 200ms;
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0%, -25%, 0);
    opacity: 1;
    color: #333;
}

textarea {
    resize: none;
    padding-top: 20px !important;
    height: 100px !important;
}

.form-control:focus+.cc-textarea,
.form-control:valid+.cc-textarea {
    font-size: 75%;
    transform: translate3d(0%, -16%, 0);
    opacity: 1;
    color: #333;
}

.submit-btn {
    margin-top: 15px;
    background-color: #0098E3 !important;
    border: 2px solid #0098E3;
    width: 100%;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 4px;
    transition: .3s;
}

.submit-btn:hover {
    background-color: #fff !important;
    border: 2px solid #0098E3;
    color: #0098E3;
}


/*  form end --> */


/* location part start */

.location-sec {
    position: relative;
    padding: 80px 0;
    background-color: #F7F7F7;
}

.about {
    background-color: #000000;
    padding: 60px 0;
    position: relative;
}

.about-heading {
    color: #0098E3;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.about-sub-title {
    color: #0098E3;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
}

.about-heading span {
    color: #000;
    font-family: "Poppins", sans-serif;
}

.about-left-img {
    border-radius: 10px;
    transition: .3s all;
}

.about-left-img:hover {
    transform: scale(1.05);
}

.about-right-img {
    transition: .3s all ease-in-out;
}

.about-right-img:hover {
    transform: scale(1.05);
}

.section-heading:after {
    position: absolute;
    content: '';
    width: 30px;
    height: 3.5px;
    top: 90px;
    left: 0;
    right: 315px;
    margin: 0 auto;
    background-color: #0098E3;
    animation: samnepiche 1.1s linear 0s infinite alternate;
}

@keyframes samnepiche {
    0% {
        left: 0px;
    }
    100% {
        left: -30px;
    }
}

.section-heading:before {
    position: absolute;
    content: '';
    width: 30px;
    height: 3.5px;
    top: 90px;
    left: 0;
    right: -260px;
    margin: 0 auto;
    background-color: #000;
    animation: samnepiche2 1.1s linear 0s infinite alternate;
}

@keyframes samnepiche2 {
    0% {
        left: 0px;
    }
    100% {
        left: 30px;
    }
}


/* location part end */


/* =========contact us part end */


/* =========== privacy start */

.privacy-header {
    padding: 80px 0;
}

.privacy-heading h1 {
    color: #10a6e9;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-size: 42px;
    font-weight: 600;
}


/* <!-- privacy box start --> */

.box {}

.terms {
    font-family: "Poppins", sans-serif;
}

.perform-text {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.employee-text {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}


/* <!-- privacy box end --> */


/* =========== privacy end */


/* ===========alberta start */

.alberta-sec {
    background-image: url(../images/albertabg.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.alberta-content {
    padding: 230px 0;
}

.alberta-content h1 {
    color: #ffffff;
    font-family: "Poppins", Sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.5em;
}

.alberta-content p {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
}


/* <!-- albarta work part start --> */

.albarta-work {
    background-image: url(../images/workbgimg.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 50px 0px 90px 0px;
}


/* <!-- albarta work part end --> */


/* ===========alberta end*/


/* ========submit page start */

.submit {
    background-color: #23ACEC;
    padding: 40px 0;
}

.submit-heading h1 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 700;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 44px;
    text-align: center;
}

.submit-heading span {
    color: #000;
}


/* submit content start */

.submit-content {
    padding: 20px 0;
}

.submit-content p {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
}


/* submit content end */


/* submit form start */

.submit-form {
    padding: 40px 0;
}


/* .cc-form {
    padding: 30px 50px 63px 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #ffffffa8;
    box-shadow: 1px 0px 6px 0px #c4c4c4;
    -webkit-backdrop-filter: blur(28px) brightness(130%);
    backdrop-filter: blur(28px) brightness(130%);
} */

.form-title {
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #333;
}

.form-des {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: 0 0 0 0;
}

.form-wrapper .form-control {
    background-color: #fff !important;
    border: 1px solid #0098E8;
    height: 64px;
    border-radius: 20px;
    padding-bottom: 0;
}

.form-wrapper .form-control:focus {
    border-color: #0098E8;
    box-shadow: 0 0 0 0;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
    box-shadow: 0 0 0 0;
}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
    box-shadow: 0 0 0 0;
}

.form-wrapper label {
    font-size: 14px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    sans-serif;
    color: #555;
    position: absolute;
    bottom: 0;
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-control-placeholder {
    position: absolute;
    top: 14px;
    padding: 7px 0 20px 18px;
    transition: all 200ms;
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
    font-size: 65%;
    transform: translate3d(0%, -20%, 0);
    opacity: 1;
    color: #333;
}

.login-btn {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 2px;
    background-color: #0098E8 !important;
    color: #fff !important;
    border-radius: 20px;
    height: 50px;
    width: 100%;
    border-color: #0098E3;
    transition: .3s;
}

.login-btn:hover {
    background-color: transparent !important;
    color: #000 !important;
    border-color: #0098E8;
}

.form-check-input:checked {
    background-color: #006E6C;
    border-color: #006E6C !important;
    outline: #006E6C;
}

.form-check-input:focus {
    border-color: #343741;
    outline: 0;
    box-shadow: 0 0 0 0;
}

.form-links p {
    font-size: 14px;
}

.form-links p a {
    text-decoration: none;
    color: #0267CD;
}


/* submit form end */


/* ========submit page end */